@import "~bootstrap/scss/bootstrap";

$width-container: 1000px;
$color: #7a82f2;
$color2: #959bed;
$color3: ghostwhite;
$color4: #e6e6eb;

.App {
  width: 100vw;
  height: 100vh;
}

.signcard {
  width: 50%;
  height: auto;
}
.signrow {
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  padding: 15px;
  margin-bottom: 40px;
}
.signbutton {
  background: $color;
  font-weight: "bold";
  border-radius: 10px;

  &:hover {
    background: $color;
    border-color: $color;
  }
  &:active {
    background-color: $color3 !important;
    border-color: $color3 !important;
    color: black;
  }
}
.signlink {
  color: $color;
  text-decoration: none;
}
.addfolderbtn {
  background: $color;
  font-weight: "bold";
  border-radius: 10px;
  border-color: $color;

  &:hover {
    background: $color;
    border-color: $color;
  }
  &:active {
    background-color: $color3 !important;
    border-color: $color3 !important;
    color: black;
  }
}

.dropdown {
  // .btn {
  //   background: $color3;
  //   border-radius: 50px;
  //   color: black;
  //   border-color: $color3;
  //   &:hover {
  //     background: white !important;
  //   }
  //   &:active {
  //     color: black;
  //   }
  // }
  .dropdown-toggle::after {
    content: none;
  }
}
.table {
  tr {
    .btn {
      background: $color3;
      border-radius: 50px;
      color: black;
      border-color: $color3;
    }

    &:hover {
      .btn {
        background: $color4;
        border-color: $color4;
        // &:hover {
        //   background: white !important;
        // }
      }
    }
  }
}
.DriveButton {
  background: $color;
  border-radius: 20px;
  height: 50px;
  border-color: $color;
  // margin-right: 0;

  &:hover {
    background: $color;
    border-color: $color;
    box-shadow: 1px 2px rgba($color, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    background-color: $color2 !important;
    border-color: $color2 !important;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.icon2 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: $color;
}

.test::after {
  content: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.avatar {
  background-color: purple;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  font-family: roboto, arial;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.formname {
  border-radius: 30px;
  background-color: white;
  padding: 30px;
  height: 50%;
  width: 50%;
}
.formsign {
  height: auto;
}

.Homecontainer {
  display: flex;
  height: 85%;
  align-items: center;
}

.carddrive {
  border-radius: 30px;
  height: 100%;
  width: 80%;
  background-color: ghostwhite;
}

.table {
  border-radius: 35px;
}

.circlebutton {
  background-color: red;
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
}

.Homecol {
  height: 100%;
}

.Homerow {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.signinform {
  background-color: white;
  border-radius: 30px;
  height: 80%;
  padding: 35px;
  max-width: 50%;
  /* width: 70%; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
